{% extends 'AppBundle::layout.html.twig' %}

{% block container %}
    <div ng-controller="MainController">
        <a href="{{ path('logout') }}">Logout</a>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Photo</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="products.length" ng-repeat="product in products track by $index">
                <td class="col-md-2">
                    <div class="thumbnail">
                        <img ng-src="/upload/product/[[product.id]]/[[product.photo]]" alt="[[product.title]]"/>
                    </div>
                </td>
                <td class="col-md-3">[[product.title]]</td>
                <td class="col-md-4">[[product.description]]</td>
                <td class="col-md-3">
                    <div class="btn-group btn-group-lg" role="group" aria-label="Left">
                        <button type="button" class="btn btn-success" ng-click="editForm($index)">
                            Edit
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="deleteDialog($index)">
                            Delete
                        </button>
                    </div>


                </td>
            </tr>
            <tr ng-hide="products.length">
                <td colspan="4">Empty</td>
            </tr>
            </tbody>
        </table>
        <p>
            <button type="button" class="btn btn-primary btn-lg" ng-click="newForm()">
                New
            </button>
        </p>
    </div>
{% endblock %}
